
<button (click)="downloadImage()">PRINT</button>
<div #screen id="table" >
  <div *ngFor="let set of sets">
    <div style="display: flex; gap: 1rem; padding: 1rem; flex-wrap: wrap;">
      <div *ngFor="let card of getCardsFiltered(set)">
        <img style="width: 110px;" src="assets/img/{{card.code}}.png">
        <p style="text-align: center">{{card.code}} x{{card.playset - card.quantity}}</p>
      </div>
    </div>
  </div>
</div>

<div id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>