<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="page">
  <div class="header-options">
    <button (click)="hideFilters = !hideFilters">Hide Filters</button>
  </div>

  @if (!hideFilters) {
    <div class="filters">
      <div class="w3-bar w3-black">
        @for (btn of colorButtons; track btn.label) {
          <button
            class="w3-bar-item w3-button {{ btn.class }}"
            (click)="filterColor(btn.value)"
          >
            {{ btn.label }}
          </button>
        }

        @for (btn of actionButtons; track btn.label) {
          <button
            class="w3-bar-item w3-button"
            [routerLink]="btn.routerLink"
            (click)="btn.action?.()"
          >
            {{ btn.label }}
          </button>
        }
      </div>

      <div class="w3-bar w3-black">
        @for (set of setsValue; track set) {
          <button class="w3-bar-item w3-button" (click)="selectSet(set)">
            {{ set }}
          </button>
        }
      </div>
    </div>
  }

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>