tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  height: 100px;
}

img:hover {
  transform: scale(5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

td {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 10px !important;
}

tr {
  border-width: 1px;
  border-style: solid;
}

th {
  text-align: center !important;
  vertical-align: middle !important;
}

.dark-red {
  background-color: #f59089;
}

.red {
  background-color: #f5c0bc;
}

.green {
  background-color: #c8f7cc;
}

.dark-green {
  background-color: #89f592;
}

.blue {
  background-color: #d1ddff;
}

.dark-blue {
  background-color: #94aff7;
}

.purple {
  background-color: #e3d3f0;
}

.dark-purple {
  background-color: #dbaefc;
}

.black {
  background-color: #c7c6c3;
}

.dark-black {
  background-color: #787877;
}

.yellow {
  background-color: #fff3d1;
}

.dark-yellow {
  background-color: #fae2a0;
}

.hidden {
  display: none;
}

.card-table {
  height: 80vh;
  overflow-y: auto;
  margin-bottom: 3rem;
}